{% extends 'base.html' %}

{%block title %}
    Flask App
{% endblock %}

{% block back %}
  <a class="p-2 text-dark" href="{{url_for('index')}}">Main</a>
{% endblock %}

{%block mainhead %}
    Author
{% endblock %}


{%block content %}
    <div class="col-6 offset-md-3">
        <p class="lead">
            Dear User welcome to my site! My name is Vlad and I was an electronics engineer used to program microcontrollers
            and SoC. However I have recently taken interest in IT technologies, datascience and everything connected with it.
            This site is meant to show that I'm ready for real tasks and I can handle it. Here are my contacts.
        </p>
        <div class="row">
            <div class="col text-center">
                <p class="lead">
                    <a href="https://github.com/pinchazer">GitHub</a>
                </p>
            </div>
            <div class="col text-center">
                <p class="lead">
                    <a href="https://habr.com/ru/users/pinchazer/">Habr</a>
                </p>
            </div>
            <div class="col text-center">
                <p class="lead">
                    <a href="https://t.me/iztob">Telegram</a>
                </p>
            </div>
        </div>
        <div class="col text-center">
            <a class="btn btn-danger" role="button" href="{{url_for('download')}}">
              Download resume
            </a>
        </div>
    </div>
{% endblock %}


